<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Studomat</display-name>
  <welcome-file-list>
    <welcome-file>kolegij.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CourseList</servlet-name>
    <servlet-class>hr.web.aplikacije.servlets.CourseList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseList</servlet-name>
    <url-pattern>/kolegij.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseEnrollment</servlet-name>
    <servlet-class>hr.web.aplikacije.servlets.CourseEnrollment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseEnrollment</servlet-name>
    <url-pattern>/upis.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOff</servlet-name>
    <servlet-class>hr.web.aplikacije.servlets.LogOff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOff</servlet-name>
    <url-pattern>/odjava.html</url-pattern>
  </servlet-mapping>
<resource-ref>
	<description>DB Connection</description>
	<res-ref-name>jdbc/StudomatDB
</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-sharing-scope>Shareable</res-sharing-scope>
</resource-ref>
<security-role>
	<role-name>Student</role-name>
</security-role>
	<security-constraint>
	<web-resource-collection>
		<web-resource-name>Studomat web aplikacija
		</web-resource-name>
		<url-pattern>*.html</url-pattern>
		<http-method>GET</http-method>
		<http-method>POST</http-method>
	</web-resource-collection>
	<auth-constraint>
		<role-name>Student</role-name>
	</auth-constraint>
</security-constraint>
<login-config>
	<auth-method>FORM</auth-method>
	<realm-name>Tomcat Server Configuration Form-Based
	Authentication Area</realm-name>
	<form-login-config>
		<form-login-page>/login.jsp</form-login-page>
		<form-error-page>/error.jsp</form-error-page>
	</form-login-config>
</login-config>
</web-app>